/* The side navigation menu */
.sidenav {
    font-family: 'Times New Roman';
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background: #262626;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 10px 0px 20px gray;
  }
  
  /* The navigation menu links */
  #enlace a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color:#666666;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  #enlace a:hover {
    background: linear-gradient(to right, #48b1bf, #06beb6); 
    color: blanchedalmond;
    font-size: 25px;
  }

  #user {
    text-align: center;
    color: #FFFFFF;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  #btn-menu {
    font-size:30px;
    cursor: pointer;
    color: #4db6ac;
  }

  #integrantes {
    display: block;
    top: 3px;
    left: 5px;
    position: absolute;
    color: #006666;
  }

  #integrantes a{
    text-decoration: none;
    color: #79d2b5;
  }


  #index {
    background: linear-gradient(to bottom, #4ac29a,#003333);
  }

  #logo {
    padding-bottom: 10%;
  }

  #content {
    width: 30%;
    height: 306px;
    top: 10%;
    left: 35%;
    position: absolute;
  }

  #particles-js {
    width: 100%;
    height: 100vh;
  }

  #propuesta {
    height: 150px;
  }

  footer {
    margin-left: 30%;
    bottom: 0;
    position: absolute;
    color: #006666;
    font-size: 12px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (min-height: 450px) {
    .sidenav {padding-top: 20px;}
    .sidenav a {font-size: 18px;}
  }

  @media only screen and (max-width: 700px) {
    #content {
      width: auto;
    }
  }
  @media only screen and (max-width: 400px) {
    #content {
      left: 17%;
    }
  }

  .table-thead {
    background: linear-gradient(to right, #4ac29a, #4db6ac);
    color: white;
  }

  .btn-aqua {
    color: white;
    background: #4db6ac;
    box-shadow: 1px 1px 10px gray;
    opacity: 0.8;
  }

  .btn-shadow {
    box-shadow: 1px 1px 10px gray;
  }

  .close {
    box-shadow: none;
  }

  .btn-aqua:hover{
    color: white;
    opacity: 1;
  }

  .alertas {
    position: absolute;
    top: 3%;
    right: 5%;
    transition: 0.4s;
    z-index: 1;
  }

  .tooltip-inner {
    background: black;
    opacity: 0.6;
  }

  .box {
    height: 100px;
    width: 100%;
  }


  .card {
    box-shadow: 10px 10px 20px  rgba(0,0,0,0.4), inset 1px 1px 20px rgba(0,0,0,0.2);
  }

  